<picture>
  <img class="bg-image" sizes="(max-width: 1400px) 100vw, 1400px" srcset="
    ../../assets/images/bg_w_200.jpg 200w,
    ../../assets/images/bg_w_638.jpg 638w,
    ../../assets/images/bg_w_932.jpg 932w,
    ../../assets/images/bg_w_1185.jpg 1185w,
   ../../assets/images/bg_w_1400.jpg 1400w" src="../../assets/images/bg_w_1400.jpg" alt="">
</picture>
<div class="overlay"></div>

<main fxLayoutAlign="center center">
  <div class="card" fxLayout="column">
    <section class="card__header">
      <img src="../../../assets/images/logo.svg" alt="Twilio Playground">
      <h1>Login as</h1>
      <p>Twilio generates token for a client. Enter the name of
        the client you wish to login as.</p>
    </section>
    <section class="card__body">
      <form>
        <div class="form-input">
          <label data-type="text" for="client-name">Client Name</label>
          <input type="text" id="client-name" minlength="5">
        </div>
        <div class="form-input form-checkbox" fxLayoutAlign="start center">
          <input type="checkbox" name="remember-me" id="remember-me">
          <label for="remember-me">Remember Me</label>
        </div>
        <button class="btn btn-primary">Continue</button>
      </form>
    </section>
    <section class="card__footer"></section>
  </div>
</main>