/*
 * File: _colors.scss
 * Project: twilio-playground
 * Description:  
 * File Created: Monday, 24th February 2020 7:12:12 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Monday, 24th February 2020 7:12:12 pm
 * Modified By: Adithya Sreyaj<adithya@altorumleren.com>
 * -----
 */

$primary: #54123b;
$warn: #c02739;
$light-gray: #e8e8e8;
$dark-gray: #565656;
