<div class="card">
  <div class="card__header">
    <h2 class="card-heading">Make a Call</h2>
  </div>
  <div class="card__body">
    <form>
      <div class="form-input">
        <label data-type="text" for="client-name">Call To Phone</label>
        <input type="text" id="client-name" minlength="5" placeholder="Enter Phone Number" autocomplete="tel">
      </div>
      <p style="text-align: center;">or</p>
      <div class="form-input" fxLayoutAlign="start center">
        <label data-type="text" for="client-name">Call To Agent</label>
        <input type="text" id="client-name" minlength="5" placeholder="Enter Agent name" autocomplete="name">

      </div>
      <button class="btn btn-primary btn-icon">
        <img src="../../../assets/images/call.svg" alt="Call button">
      </button>
    </form>
  </div>
</div>